contexttimer
decord
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==1.0.13
torch>=1.10.0
torchvision
tqdm>=4.0.0
transformers==4.48.0
webdataset
wheel
torchaudio
soundfile
moviepy==1.0.3
nltk
peft==0.10.0

easydict==1.9
pyyaml_env_tag==0.1
open3d>=0.13.0
h5py

huggingface-hub==0.25.2
numpy>=1.18.1
imageio>=2.5.0
decorator>=4.3.0
Pillow>=7.0.0
scipy>=1.3.0
pydub>=0.23.0
audiofile>=0.0.0
opencv-python>=4.5

pytorch-fast-transformers
tensorboard

pretty_midi
librosa
miditoolkit
mir_eval
music21
demucs

